<footer class="foot">
	<a href="javascript:;" ui-sref="home" ui-sref-active="on">
		<img src="public/image/home.png">
        <img src="public/image/home_on.png" class="on">
		<span>首页</span>
	</a>
	<a href="javascript:;" ui-sref="juben" ui-sref-active="on">
		<img src="public/image/camera.png">
        <img src="public/image/camera_on.png" class="on">
		<span>剧本</span>
	</a>
	<a href="javascript:;" ui-sref="qiang" ui-sref-active="on">
		<img src="public/image/one.png">
        <img src="public/image/one_on.png" class="on">
		<span>抢戏</span>
	</a>
	<a href="javascript:;" ui-sref="mine" ui-sref-active="on">
		<img src="public/image/zoom.png">
        <img src="public/image/zoom_on.png" class="on">
		<span>我的</span>
	</a>
</footer>